/* App Component */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background: linear-gradient(rgb(254, 152, 169),rgb(251, 223, 228));
}
#heading{
    background: black;
    color: aliceblue;
    text-align: center;
}
/* Header Component */
.navbar{
    border: 5px solid purple;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}
.header{
    border: 2px solid black;
    font-size: 25px;
    margin: 5px;
}
/* Section1 Component */
.box{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    background: blue;
    margin: 20px;
    color: aliceblue;
    font-size: 50px;
    animation: box 7s ease-in-out 1s infinite alternate both;
}
@keyframes box {
    from{
        margin-left: 10px;
    }
    to{
        margin-left: 85%;
    }
}
/* Section2 Component */
.box2{
    background: yellowgreen;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}
/* Section3 Component */
.section3{
    background:linear-gradient(teal,rgb(146, 243, 246));
    padding: 30px;
}
/* Footer Component */
footer{
    background: black;
    color: aliceblue;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    padding: 20px;
}